[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# black = "*"
# pytype = "*"
mypy = "*"
types-requests = "*"

[packages]
azure-storage-blob = "*"
azure-storage-queue = ">=12.1.6"

[requires]
python_version = "3.9"
